<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<context:component-scan base-package="com.yangqisport" />

	<context:property-placeholder location="classpath:config.properties" />


	<import resource="bean-mybatis.xml" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/api/*" />
			<mvc:exclude-mapping path="/api/login" />
			<mvc:exclude-mapping path="/api/register" />
			<mvc:exclude-mapping path="/api/test" />
			<bean class="com.yangqisport.framework.auth.XAuthTokenInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- ############ aop 拦截器 ############### -->
	<bean id="methodPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedNames">
			<list>
				<value>*</value>
			</list>
		</property>
	</bean>
	<bean id="generalResultInterceptor1" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut" ref="methodPointcut" />
		<property name="advice" ref="generalResultInterceptor" />
	</bean>
	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>*RPC</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>generalResultInterceptor1</value>
			</list>
		</property>
	</bean>

</beans>